<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pau Soler Valadés</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="site-title">
        Pau Soler Valadés
    </header>

    <nav>
        <a href="/"{{if ne .Path "/"}} class="accent"{{end}}>About</a>
        <a href="/resume"{{if ne .Path "/resume"}} class="accent"{{end}}>Resume</a>
        <a href="/writings"{{if ne .Path "/writings"}} class="accent"{{end}}>Writings</a>
    </nav>

    <main>
        {{ .Content }}
    </main>
</body>
</html>
